body{
    font-family:serif;
    background-color: #0D3858 !important;
  color:white !important;
}

.titulo{
display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-bottom:10px;
  

}

footer{
    text-align: center;
    background-color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  color:black !important;
}

.row{
    display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-main{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.imagem{
  height: 400px;
  margin-top: 10px;
  margin-bottom:10px;
}

.color{
  color: #EF9B14 !important;
  
}

.pad{
  padding-top:20px;
}