body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: #85BB65 !important;
}

.titulo{
    font-size: 60px;
    margin: auto;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #d9d9d9b8;

}

@media (max-width: 780px)
{
    .titulo, .footer{
        margin-left: 10%;
  margin-right: 10%;
    }
}

footer{
    text-align: center;
    font-size:80%;
    margin-left: 30%;
    margin-right: 30%;
  background-color:  #d9d9d9b8;
  padding-bottom: 5px;
  padding-top: 5px;
}

.row{
    display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-main{
    display: flex;
    justify-content: center;
    align-items: center;
}